.webpageInfo {
  margin: auto; // center in the middle of the page
  font-family: 'Raleway', sans-serif;
  width: 32vw;
  text-align: center; // horizontal text alignment
}

#CourseCode {
  font-size: 8.0vw;
  height: 35vh;
  border: solid;
  border-color: steelblue; // make this the same colour as the background
}

.SignInBox {
  border: solid;
  width: 40vw;
  text-align: center;  // horizontal alignment of text-align
  margin: auto;
  font-size: 150%;
}


.SignInBox input[type="text"] {
  color: white;
  border: solid 1px;
}

.LogInButtons{
  width: 40%;
  margin: auto;
}

::placeholder {
  color: white;
}

.SignInBox input[type="submit"] {
  border: solid 1px;
  float: left;
  font-size: 99%;
}

.SignInBox input[type="submit"]:hover, .SignInBox a:hover {
  background-color: #75c7f0;
}

.SignInBox a {
  border: solid 1px;
  text-decoration: none;
  color: black;
  float: right;
}


*{
  background: steelblue;
}
