.webpageInfo {
  width: 32vw;
  text-align: center; // horizontal text alignment
}

#CourseCode {
  font-size: 8.0vw;
  height: 35vh;
  border: solid;
  border-color: steelblue; // make this the same colour as the background
}

.SignInBox {
  border: solid;
  width: 40vw;
  text-align: center;  // horizontal alignment of text-align
  margin: auto;
  font-size: 150%;
}


.SignInBox input[type="text"], .NewUserBox input[type="text"],.SignInBox input[type="password"] {
  color: white;
  border: solid 1px;
}

.LogInButtons{
  width: 40%;
  margin: auto;
}

::placeholder {
  color: white;
}

.SignInBox input[type="submit"], .NewUserBox input[type="submit"] {
  border: solid 1px;
  float: left;
  font-size: 99%;
}

.SignInBox input[type="submit"]:hover, .SignInBox a:hover, .NewUserBox input[type="submit"]:hover {
  background-color: #75c7f0;
}

.SignInBox a {
  border: solid 1px;
  text-decoration: none;
  color: black;
  float: right;
}

.error {
    color:  #cc0033;
    font-weight: bold;
    font-size: 20px;
}

/*New User Page Settings*/

.NewUserBox {
  text-align: center;
  line-height: 2;
}

.NewUHeaderStuff {
  line-height: 1;
}

.NewUserBox span + span { /*meaning every span preceeded by a span*/
  margin-left: 5px;
}

.AccType {
  margin: auto;
}

.NewUSubButton {
  margin: auto;
}

.NewUserBox input[type="submit"] {
  float: none;
}

*{
  background: steelblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
